---
layout: page
title: EMERGENT FUTURES
subtitle: The aim of this master is to provide the strategic vision and tools for designers, sociologists, economists and computer scientists, to become agents of change in multiple professional environments. The programme focuses on the design of interventions in the form of products, platforms and deployments that aim to produce new emergent futures by previously analysing the current challenges in society and industry.
description: Index page description
featured_image: /images/social.jpg
clients:
  - /assets/images/Iaac_logo_black.png
  - /assets/images/elisava-black.jpg
  - /assets/images/fabacademy-logo.jpg
  - /assets/images/Ideas4Change-logo.jpg
  - /assets/images/kickstarter-logo.jpeg
  - /assets/images/academany-logo.png
  - /assets/images/seeed-logo.png
  - /assets/images/space10-logo.png

---

<section class="portfolio">


  <p>
  <a class="button button--large" href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/" target="_blank">APPLY</a>
  </p>

<!--
  <h3>Student projects</h3>
  <p>Only showing projects with pictures. To see all Students projects, use the menu on the left.</p>

  <div class="content-wrap portfolio-wrap">

    {% for project in site.data.student-projects %}

    <div class="portfolio-item">

      <a class="portfolio-item__link" href="{{ project.url }}">

        <div class="portfolio-item__image">
          {% if project.image != 'studentprojects/image1.png' %}
          <img src="{{ project.image }}" alt="{{ project.title }}">
          {% endif %}
        </div>

        <div class="portfolio-item__content">
          <div class="portfolio-item__info">
            <h2 class="portfolio-item__title">{{ project.name }}</h2>
            <p class="portfolio-item__subtitle">{{ project.url }}</p>
          </div>
        </div>

      </a>

    </div>

    {% endfor %}

  </div>
-->


</section>

<h3>Our Partners</h3>
<div class="gallery" data-columns="6">
{% for client in page.clients %}
  <img alt="" src="{{ client | relative_url }}" />
{% endfor %}
</div>
