<footer class="footer">

	{% include socials.html %}

	<div class="footer__copyright">
    <a href="https://gitlab.com/MDEF/mdef-2019/blob/master/{{page.path}}">Help us fix this page.</a>
	</div>

</footer>
